<div class="container-fluid footer-container footer-background-image">
    <div class="row justify-content-center">
        <div class="col-5 footer-follow-container">
            <h4 class="intro-text">Follow us</h4>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 footer-follow-icons-container">
            <a href="https://twitter.com/trickieDBeer">
                <img class="social-icon social-padding twitter" src="assets/twitter.png " />
            </a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10 footer-newsletter-container">
            <h4 class="intro-text">Sign up for our newsletter</h4>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-4 footer-newsletter-form">
            {% include mailchimp-newsletter-registration-v2.html %}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 footer-company-info">
            <p>
                <span class="footer-info copyright">Copyright © 2018 Trickie Dickie Beers<br class="br-on-mobile"></span>
                <span class="footer-info copyright">All rights reserved<br class="br-on-mobile"></span>

            </p>
        </div>
    </div>

</div>

</div>