<div class="container-fluid footer-container footer-background-image">
    <div class="row justify-content-center">
        <div class="col-5 footer-follow-container">
            <h4 class="intro-text">Follow us</h4>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 footer-follow-icons-container">
            <a href="https://www.facebook.com/TamarindOfMayfair">
                <img class="social-icon social-padding facebook" src="assets/socials/2x/facebook.png " />
            </a>
            <a href="https://twitter.com/TamarindMayfair">
                <img class="social-icon social-padding twitter" src="assets/socials/2x/twitter.png " />
            </a>
            <a href="https://www.instagram.com/tamarindofmayfair/">
                <img class="social-icon social-padding instagram" src="assets/socials/2x/instagram.png " />
            </a>
            <a href="https://www.pinterest.co.uk/tamarindlondon/">
                <img class="social-icon pinterest" src="assets/socials/2x/pinterest.png " />
            </a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10 footer-newsletter-container">
            <h4 class="intro-text">Sign up for our newsletter</h4>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-4 footer-newsletter-form">
            {% include mailchimp-newsletter-registration-v2.html %}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 footer-company-info">
            <p>
                <span class="footer-info">
                    <a href="https://www.google.co.uk/maps/place/Tamarind+Restaurant/@51.5070931,-0.1494243,17z/data=!4m13!1m7!3m6!1s0x4876052f29e073e3:0xb07005cc3e5b714d!2sMeadows+House,+20+Queen+St,+Mayfair,+London+W1J+5PP!3b1!8m2!3d51.5070724!4d-0.1472213!3m4!1s0x4876052ed152494d:0x3f84d935fabc635!8m2!3d51.5070916!4d-0.1471745">
                        Tamarind of Mayfair <br class="br-on-mobile"> 
                        20 Queen Street, London W1J 5PR <br class="br-on-mobile"></a> 
                        +44 (0)207 629 3561 <br class="br-on-mobile">
                    </span>
                <span class="footer-info copyright">Copyright © 2018 Tamarind<br class="br-on-mobile"></span>
                <span class="footer-info copyright">All rights reserved<br class="br-on-mobile"></span>

                <button id="privacy-button" class="footer-info">Privacy Policy</button>
            </p>
        </div>
    </div>

</div>

</div>