<section class="section-3-footer">
    <div class="row">
        <img class="footer-background-image" src="assets/footer-background.jpg" />
    </div>

    <div class="row text-container footer-block-1-social-title">
        <div class="col-12">
            <h4 class="intro-text">Follow us</h4>
        </div>
    </div>
    <div class="row image-container footer-block-2-social-icons">
        <!-- <div class="col-3">
                            <a href="https://www.facebook.com/TamarindOfMayfair">
                                <img class="social-icon facebook" src="assets/socials/facebook.png " />
                            </a>
                        </div>
                        <div class="col-3">
        
                            <a href="https://twitter.com/TamarindMayfair">
                                <img class="social-icon twitter" src="assets/socials/twitter.png " />
                            </a>
                        </div>
                        <div class="col-3">
        
                            <a href="https://www.instagram.com/tamarindofmayfair/">
                                <img class="social-icon instagram" src="assets/socials/instagram.png " />
                            </a>
                        </div>
                        <div class="col-3">
        
                            <a href="https://www.pinterest.co.uk/tamarindlondon/">
                                <img class="social-icon pinterest" src="assets/socials/pinterest.png " />
                            </a>
                        </div> -->
        <div class="col-12">
            <a href="https://www.facebook.com/TamarindOfMayfair">
                <img class="social-icon social-padding facebook" src="assets/socials/facebook.png " />
            </a>
            <a href="https://twitter.com/TamarindMayfair">
                <img class="social-icon social-padding twitter" src="assets/socials/twitter.png " />
            </a>
            <a href="https://www.instagram.com/tamarindofmayfair/">
                <img class="social-icon social-padding instagram" src="assets/socials/instagram.png " />
            </a>
            <a href="https://www.pinterest.co.uk/tamarindlondon/">
                <img class="social-icon pinterest" src="assets/socials/pinterest.png " />
            </a>
        </div>
        <!-- <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary"><img class="social-icon facebook" src="assets/socials/facebook.png " /></button>
                            <button type="button" class="btn btn-secondary"><img class="social-icon facebook" src="assets/socials/facebook.png " /></button>
                            <button type="button" class="btn btn-secondary"><img class="social-icon facebook" src="assets/socials/facebook.png " /></button>
                          </div> -->

        <!-- <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                                <a class="thumbnail" href="#">
                                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                                <a class="thumbnail" href="#">
                                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                                <a class="thumbnail" href="#">
                                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                                </a>
                            </div> -->
    </div>

    <div class="row text-container footer-block-3-newsletter-title">
        <div class="col-12">
            <h4 class="intro-text">Sign up for our newsletter</h4>
        </div>
        <div class="col-12">
            {% include mailchimp-newsletter-registration.html %}
        </div>
    </div>

    <div class="row footer-block-3-footer-site-details text-container">
        <div class="col-12 col-md-9">
            <p>Tamarind of Mayfair 20 Queen Street, London W1J 5PR +44 (0)207 629 3561 Copyright © 2018 Tamarind All rights
                reserved
                <button id="privacy-button" class="">Privacy Policy</button>
            </p>
        </div>
    </div>
</section>