<!DOCTYPE HTML>
<html lang="en">

{% include head.html %}

<body>
    {% include intro-section-v2.html %} 
    {% include addressinfo-v2.html %}
    <div class="container-fluid">
        <section id="privacy-policy-container">
            <div class="row d-flex justify-content-center privacy-policy">
                <div class="col-12 col-md-6 col-lg-4 footer-block-4-privacy-policy">
                    <section class="privacy-section">
                        <h5>Privacy Policy</h5>
                        <p>This Privacy Policy set out below forms part of these Terms of Use and sets out the way in which
                            your personal data are handled. Therefore please read this Policy carefully, as it explains what
                            information we will collect about you, how we will use it, and the steps we take to ensure that
                            it is kept safe.</p>
                    </section>

                    <section class="privacy-section">
                        <h5>What information do we collect?</h5>
                        <p>In order to provide you with our services, we may collect personal information about you from our
                            website, emails, and written and verbal communications. We may, for example, keep a record of
                            your name, address, delivery address, email address, telephone number and credit card details.
                            We may also record details of any disability or health needs you may have at the time of booking
                            an event or service to help to ensure your safety.</p>
                        <p>This website is in accordance with the Data Protection Act 1998. When you visit our site to read
                            or download information, we log your IP address which is automatically recognised by the web
                            server. We do not make this information available to third parties, nor do we store or capture
                            personal information.</p>
                    </section>

                    <section class="privacy-section">
                        <h5>Mailing list</h5>
                        <p>There is a mailing list option on the site. The system will record your e-mail address and other
                            information only if you subscribe. If you do sign up for our mailing list your data will not
                            be disclosed to any company outside of Tamarind Collection and we will only contact you with
                            news about Tamarind Collection restaurants. You can remove your details from the mailing list
                            at any time. Your email address will not be passed on to third parties.</p>
                    </section>

                    <section class="privacy-section">
                        <h5>Copyrights policy</h5>
                        <p>The Tamarind Collection website includes a variety of materials created by members of Tamarind Collection
                            team. Although these works may be freely accessible on the Internet and may not include any statement
                            about copyright, the works are protected by copyright. Users must assume that works are protected
                            by copyright until they learn otherwise.</p>
                    </section>

                    <section class="privacy-section">
                        <h5>Data</h5>
                        <p>We collect data about how our site is searched to enable us to understand and respond to the needs
                            of our users. These data do not contain personally identifiable information. You can visit our
                            site without identifying yourself or disclosing any personal information.</p>
                    </section>
                    <section class="privacy-section">
                        <h5>How to contact us</h5>
                        <p>If you would like any further information or have any comments about our privacy policy or any other
                            aspect of our website or service, please contact us at the address below:</p>
                        <p>Tamarind Collection, 231 Linen Hall, 162 Regent Street London, W1B 5TB, UK</p>
                    </section>
                </div>
            </div>

        </section>
    </div>

    <!--Main Container ends-->
    {% include endscripts.html %}
</body>

</html>